<!DOCTYPE html>
<html>
<head>
    <title>My Recipe Site</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to My Recipe Site</h1>
    <p>It's hard to pick a favorite food when there are so many amazing options
        out there. I love anything my mom makes. Usually my dad cooks, so whenever she
        does, it's usually a new dish she wants to try to make. She makes a mean Chicken Tikka
        Masala and it's always exciting to see her making her Chicken Salsa Verde Enchiladas.
        I enjoy cooking too, but only when I can get the kitchen all to myself. I love making stir frys
        because I enjoy chopping vegetables and experimenting with making a sauce. While cooking is fun,
        truthfully, I enjoy baking more.
    </p>
</body>
</html>